<div="/">
  <a href='/'>New Game</a>
</div>

<div="/game">
  <form action='/game'>
    <span>What is your name?</span>
    <input type="text" name="First Name">
    <input type="submit" value="Submit">
  </form>
</div>