<div>
  <form>
    <span>You didn't provide a name!
    </br>That's okay, we'll just name you <%= @newname %></span>
    <input type="text" name="Name">
    <input type="submit" value="Submit">
  </form>
</div>